@font-face {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b76d3cf (add files)
    font-family: integralcf;
    src: url(./font/Fontspring-DEMO-integralcf-bold.otf);
}

<<<<<<< HEAD
=======
=======
  font-family: 'Integral CF';
  src: url('fonts/IntegralCF-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Integral CF';
  src: url(./font/Fontspring-DEMO-integralcf-bold.otf) format('opentype');
  font-weight: bold;
}

@font-face{
    font-family: 'Satoshi';
    src: url(./font/Satoshi-Bold_0.otf);
    font-weight: bold;
}
@font-face{
    font-family: 'Satoshi';
    src: url(./font/Satoshi-Medium_0.otf);
    font-weight: normal;
}


#offer {
  animation: slideX 25s linear infinite;
}


#offer:hover {
      animation-play-state: paused;
}

@keyframes slideX {
   0% { transform: translateX(-1000px); }
  100% { transform: translateX(1000px); }
}





*{
    font-family: 'Satoshi';
}

span,p{
    font-family: 'Satoshi';
}



>>>>>>> fecba5f (add files)
>>>>>>> b76d3cf (add files)


#forCentre{
    width: 1440px;
height: auto;
/*angle: 0 deg;*/
opacity: 1;
color: #FFFFFF;
font-family: Satoshi !important; 
}

#discountbar{
    width: 1440px;               
    height: 38px;
    background: #000000;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;

    
}

#offer{
   font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 14px;

line-height: 100%;
letter-spacing: 0%;


}

#signupnow {
    font-family: Satoshi;
font-weight: 500;
font-style: Medium;
font-size: 14px;

line-height: 100%;
letter-spacing: 0%;

}
#signupnow:hover{
    text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;

}
#close-icon{

    width: 20px;
    height: 20px;
    opacity: 1;
    top: 0px;
    right: 1320px;
   
    

}
#close-icon img{
    width: 13.129814147949219px;
    height: 13.130596160888672px;
    opacity: 1;
    margin-top: 3.43px;
    margin-left: 3.44px;     
    position: relative;
    margin-left: 450px; 
  
}

#navbar{
    width: 1240px;
    height: 41px;
    /*angle: 0 deg;*/
    opacity: 1;
   margin: 24px auto;
   
    left: 100px;
    gap: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
#logo span{
   
   width: 160px;
height: 22px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 900;
font-style: Bold;
font-size: 32px;
/*leading-trim: CAP_HEIGHT;*/
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color:  #000000;

}
#nvmenu{
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b76d3cf (add files)
   width: 322px;
    height: 22px;
    /*angle: 0 deg;*/
    opacity: 1;
    gap: 24px;
    display: flex;
  
    color: #000000;

}
#shop{
    width: 57px;
    height: 22px;
    /*angle: 0 deg;*/
    opacity: 1;
    gap: 4px;
 
    font-family: Satoshi;
    font-weight: 400;
 

}
#shop img{
    margin-left: 4px;
    transform: rotate(90);
}
#onsale{

    width: 57px;
    height: 22px;
   /* angle: 0 deg; */
    opacity: 1;
    font-family: Satoshi;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    /*leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: 0%;


}
#newarrivala{
    width: 88px;
    height: 22px;
    /*angle: 0 deg;*/
    opacity: 1;
    font-family: Satoshi;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
/*    leading-trim: NONE;*/
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
<<<<<<< HEAD
=======
=======
   width: 325px;
    height: 22px;
    /*angle: 0 deg;*/
    opacity: 1;
    gap: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

#shop{
    width: 57px;
height: 22px;
/*angle: 0 deg;*/
opacity: 1;
gap: 4px;
display: flex;

}

#shop span{
    width: 37px;
height: 22px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 16px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
color: #000000;


}

#shop-downarrow{
    width: 16px;
height: 16px;
/*angle: 0 deg;*/
opacity: 1;


}

#shop-downarrow img{
    width: 11.503852844238281px;
height: 6.503767490386963px;
/*angle: 0 deg;*/
opacity: 1;
/*margin-top: 5.25px;*/
>>>>>>> fecba5f (add files)
>>>>>>> b76d3cf (add files)



}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b76d3cf (add files)
#brandsa{
    width: 49px;
    height: 22px;
    /*angle: 0 deg;*/
    opacity: 1;
    font-family: Satoshi;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    /*leading-trim: NONE;*/
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;

}

<<<<<<< HEAD
=======
=======

#onsale span{
    width: 58px;
height: 22px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 16px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
color: #000000;

}

#newarrivala span{
    width: 115pc;
height: 22px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 16px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
color: #000000;

}

#brandsa span{
    width: 49px;
height: 22px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 16px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
color: #000000;



}



>>>>>>> fecba5f (add files)
>>>>>>> b76d3cf (add files)
#search {
    width: 577px;
    height: 40%;
    /*angle: 0 deg;*/
    opacity: 1;
    gap: 12px;
    border-radius: 62px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    background: #F0F0F0;
    display: flex;
    color: #00000066;

}
#search-img{
    width: 24px;
    height: 24px;
    /*angle: 0 deg;*/
    opacity: 1;

}

#search-image img{

    width: 20.273677825927734px;
    height: 20.274616241455078px;
    /*angle: 0 deg;*/
    opacity: 1;
    top: 1.86px;
    left: 1.86px;

}


#search-item:focus{
    background: transparent;
  outline: none;
    border: none;
    box-shadow: none;
}

#search-item{
   background: #F0F0F0;
    width: 577px;
   border: none;
}

#cart{
    width: 62px;
    height: 24px;
    /*angle: 0 deg;*/
    opacity: 1;
    gap: 14px;
    display: flex;
}
#cart img{
    width: 24;
    height: 24;
    /*angle: 0 deg;*/
    opacity: 1;

}


#transition-div{
    width: 406px;
height: 22px;
margin-top: 24px;
margin-left: 100px;
gap: 12px;
/*angle: 0 deg;*/
opacity: 1;

display: flex;
justify-content: flex-start;
align-items: center;


}

#parent-page{
    width: 63px;
height: 16px;
gap: 4px;
/*angle: 0 deg;*/
opacity: 1;
display: flex;

}
#parent-page a{
    width: 43px;
height: 11px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 16px;
/*leading-trim: CAP_HEIGHT;*/
line-height: 100%;
letter-spacing: 0%;
color: #00000099;
text-decoration: none;

}

#right-arrowhead{
    border: none;
    transform: rotate(-90deg);
}

#child-page a{
    width: 31px;
height: 22px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 16px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
color: #000000;

}

#filter-div{
    width: 295px;
height: 1220px;
/*angle: 0 deg;*/
opacity: 1;
margin-top: 24px;
margin-left: 100px;

border-radius: 20px;
border-width: 1px;
padding-top: 20px;
padding-right: 24px;
padding-bottom: 20px;
padding-left: 24px;
border: 1px solid #0000001A;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;

}

#div-filter-and-casual-item{
    display: flex;
    gap: 20px;
}
#casual-item-div{
    height: auto;
    width: 925px;
   
    
}

#Casual p{
    margin-bottom: 0px;
}
#Casual{
    width: 101px;
    height: 43px;
    /*angle: 0 deg;*/
    opacity: 1;
   
 
    font-family: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    /*leading-trim: NONE;*/
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #000000;

}

#You-like{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    width:auto;
    gap: 17px;
    
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    background-size: contain;
    background-position: center;
    

}
#row1 , #row2 , #row3{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 20px;
}


#item{
    width: 295px;
height: 415px;
/*top: 263px;
left: 415px;*/
border-radius: 20px;
/*angle: 0 deg;*?
opacity: 1;*/

}

#itemimages img{
    width: 295px;
height: 298px;
/*top: 263px;
left: 415px;*/
border-radius: 20px;
/*angle: 0 deg;*/
opacity: 1;
background: #F0EEED;



}
#itemprice p{
    width: 100%;
height: 27px;
/*top: 577px;
left: 415px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 700;
font-style: Bold;
font-size: 20px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #000000;
margin-bottom: 0px;

}

#price{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}

#price span{
    width: 54px;
height: 32px;
/*top: 639px;
left: 415px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 700;
font-style: Bold;
font-size: 24px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #000000;


}

#cutprice{
    width: 55px;
height: 32px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 700;
font-style: Bold;
font-size: 24px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
text-decoration: line-through;
color: #00000066;

}

#off-percent{
    width: 58px;
height: 28px;
border-radius: 62px;
/*angle: 0 deg;*/
opacity: 1;
gap: 12px;
padding-top: 6px;
padding-right: 14px;
padding-bottom: 6px;
padding-left: 14px;

background: #FF33331A;


}

#off-percent p{
    width: 32px;
height: 16px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 500;
font-style: Medium;
font-size: 12px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
color: #FF3333;
margin: auto auto;
align-self: baseline;

padding-top: 6px;
/*padding-right: 14px;*/
padding-bottom: 6px;
/*padding-left: 14px;*/

}

#previous{
width: 110px;
height: 36px;
border-radius: 8px;
/*angle: 0 deg;*/
opacity: 1;
gap: 8px;
border-width: 1px;
padding-top: 8px;
padding-right: 14px;
padding-bottom: 8px;
padding-left: 14px;
background: #FFFFFF;
border: 1px solid #0000001A;

}

#next{
   width: 86px;
height: 36px;
border-radius: 8px;
/*angle: 0 deg;*/
opacity: 1;
gap: 8px;
border-width: 1px;
padding-top: 8px;
padding-right: 14px;
padding-bottom: 8px;
padding-left: 14px;
background: #FFFFFF;
border: 1px solid #0000001A;
}

#numberbar{
    width: 292px;
height: 40px;
/*angle: 0 deg;*/
opacity: 1;
gap: 2px;
margin: 0px;
padding: 0px;
display: flex;


}

#numberdiv{
    width: 40px;
height: 40px;
border-radius: 8px;
/*angle: 0 deg;*/
opacity: 1;
padding: 12px;
margin: 0px;
padding: 0px;

}

#number{
    width: 40px;
height: 40px;
border-radius: 8px;
/*angle: 0 deg;*/
opacity: 1;
/*
padding: 12px;
*/
display: flex;
justify-content: center;
align-items: center;
margin: 0px;
}

#number a{
    width: 9px;
height: 20px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 500;
font-size: 14px;
/*leading-trim: NONE;*/
line-height: 20px;
letter-spacing: 0%;
text-align: center;
color: #00000080;
text-decoration: none;

}
#dots{
    width: 40px;
height: 40px;
border-radius: 8px;
/*angle: 0 deg;*/
opacity: 1;
margin: 0px;
display: flex;
justify-content: center;
align-items: center;


}
#dots a{
    width: 40px;
height: 20px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight:600;
font-size: 18px;
/*leading-trim: NONE;*/
line-height: 20px;
letter-spacing: 0%;
text-align: center;
color: #00000080;
text-decoration: none;

}

#previous-next-div{
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}



#filter-div-1{

width: 247px;
height: 27px;
display: flex;

justify-content: space-between;
/*angle: 0 deg;*/
opacity: 1;



}
#filter-div-1 span{
    width: 57px;
height: 27px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 700;
font-style: Bold;
font-size: 20px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #000000;


}


#updown-btn-box{

    width: 24px;
height: 24px;
/*angle: 0 deg;*/
opacity: 1;


}

#updown-btn-box img{
   width: 20.25px;
height: 18.75px;
/*top: 2.63px;
left: 1.88px;
angle: 0 deg;*/
opacity: 1;
color:  #0000001A;


}


#filter-div-2{
    width: 247px;
height: 160px;
gap: 20px;
/*angle: 0 deg;*/
opacity: 1;
display: flex;
flex-direction: column;
justify-content: flex-start;




}

#filter-div-3{
width: 247px;
height: 90.00006103515625px;
gap: 20px;
/*angle: 0 deg;*/
opacity: 1;
display: flex;
flex-direction: column;
justify-content: space-between;


}

#divtop{
    width: 247px;
height: 27px;
display: flex;
justify-content: space-between;
/*angle: 0 deg;*/
opacity: 1;

}

#divtop span{
    width: 150px;
height: 27px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 700;
font-style: Bold;
font-size: 20px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #000000;

}

#top1-arrow-head{
width: 16.00000000000006px;
height: 16.00000000000006px;
/*angle: -180 deg;*/
opacity: 1;

/*angle: -180 deg;*/
opacity: 1;

}

#top1-arrow-head img{
  width: 11.503852844238324px;
height: 6.503767490386988px;
/*top: 4.25px;
left: 2.25px;
angle: -180 deg;
opacity: 1;
*/
rotate: -90deg;

}













#divbottom{
    width: 247px;
height: 43.00006103515625px;
/*angle: 0 deg;*/
opacity: 1;

}


#divbottom input{
    width: 247px;
height: 43.00006103515625px;
/*angle: 0 deg;*/
opacity: 1;
display: flex;
justify-content: center;

}


#filter-div-4{
    width: 247px;
height: 137px;
gap: 20px;
/*angle: 0 deg;*/
opacity: 1;

display: flex;
flex-direction: column;
justify-content: space-between;


}
#divtop-color{
    width: 247;
height: 27;
display: flex;
flex-direction: row;
justify-content: space-between;
/*angle: 0 deg;*/
opacity: 1;

}
#divtop-color span{
    width: 62px;
height: 27px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 700;
font-style: Bold;
font-size: 20px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #000000;


}
#arrow1{
    width: 16.00000000000006px;
height: 16.00000000000006px;
/*angle: -180 deg;*/
opacity: 1;


}
#arrow1 img{
    height: 11.503852844238324px;
width:  6.503767490386988px;

/*margin-top: 4.25px;
margin-left: 2.25px;
*/
  transform: rotate(-90deg);

opacity: 1;

}

#bottom-colors{
    width: 247px;
height: 90px;
gap: 16px;
/*angle: 0 deg;*/
opacity: 1;
display: flex;
justify-content: center;
gap: 10px;
flex-wrap: wrap;


}
<<<<<<< HEAD
.circle:active{
    background-color: pink;
=======
<<<<<<< HEAD
.circle:active{
    background-color: pink;
=======
.circle:focus{
    background-image: url(./images/tick\ sign.png);
>>>>>>> fecba5f (add files)
>>>>>>> b76d3cf (add files)

}
.round1{
    border-radius: 50%;
    width: 37px;
height: 37px;
border-width: 2px;
/*angle: 0 deg;*/
opacity: 1;
background: #00C12B;
border: 2px solid #00000033
}

.round2{
    border-radius: 50%;
    width: 37px;
height: 37px;
border-width: 2px;
/*angle: 0 deg;*/
opacity: 1;
background: #F50606;
border: 2px solid #00000033
}
.round3{
    border-radius: 50%;
    width: 37px;
height: 37px;
border-width: 2px;
/*angle: 0 deg;*/
opacity: 1;
background: #F5DD06;

border: 2px solid #00000033
}
.round4{
    border-radius: 50%;
    width: 37px;
height: 37px;
border-width: 2px;
/*angle: 0 deg;*/
opacity: 1;
background: #F57906;

border: 2px solid #00000033
}
.round5{
    border-radius: 50%;
    width: 37px;
height: 37px;
border-width: 2px;
/*angle: 0 deg;*/
opacity: 1;
background: #06CAF5;
border: 2px solid #00000033
}
.round6{
    border-radius: 50%;
    width: 37px;
height: 37px;
border-width: 2px;
/*angle: 0 deg;*/
opacity: 1;
background: #063AF5;

border: 2px solid #00000033
}
.round7{
    border-radius: 50%;
    width: 37px;
height: 37px;
border-width: 2px;
/*angle: 0 deg;*/
opacity: 1;
background: #7D06F5;


border: 2px solid #00000033
}
.round8{
    border-radius: 50%;
    width: 37px;
height: 37px;
border-width: 2px;
/*angle: 0 deg;*/
opacity: 1;
background: #F506A4;

border: 2px solid #00000033
}

.round9{
    border-radius: 50%;
    width: 37px;
height: 37px;
border-width: 2px;
/*angle: 0 deg;*/
opacity: 1;
background: #FFFFFF;

border: 2px solid #00000033
}


.round10{
    border-radius: 50%;
    width: 37px;
height: 37px;
border-width: 2px;
/*angle: 0 deg;*/
opacity: 1;
background: #000000;

border: 2px solid #00000033
}




#filter-div-5{
    width: 247px;
height: 274px;
gap: 20px;
/*angle: 0 deg;*/
opacity: 1;
display: flex;
flex-direction: column;
justify-content: space-between;


}
#bottom-buttons{
    width: 247px;
height: 227px;
/*angle: 0 deg;*/
opacity: 1;
gap: 8px;


}

#size-button{
   width: auto;
height: 39px;
/*angle: 0 deg;*/
opacity: 1;
border-radius: 62px;

background: #F0F0F0;


color: #00000099;
display: flex;


}


#size-button:hover , #size-button span:hover{
    background-color: black;
    color: white;
    border-radius: 62px;
    cursor: pointer;
  
    
   
}
#size-button span:active {
    background-color: blue;
    color: white;
    
   
}





#size-button span{
  width: auto;
height: 19px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 14px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
color: #00000099;
padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;


}

#filter-div-6{
    width: 247px;
height: 171px;
gap: 20px;
/*angle: 0 deg;*/
opacity: 1;
display: flex;
flex-direction: column;
justify-content: space-between;

}

#bottom-buttons{
    display: flex;
    flex-wrap: wrap;
gap: 8px; 

}

#different-catagories{
    width: 247px;
height: 16px;
display: flex;
justify-content: space-between;
/*angle: 0 deg;*/
opacity: 1;

}

#different-catagories span{
    width: 55px;
height: 11px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 16px;
/*leading-trim: CAP_HEIGHT;*/
line-height: 100%;
letter-spacing: 0%;
color: #00000099;

}

#right-arrow-head{
    width: 16px;
height: 16px;
/*angle: 90 deg;*/
opacity: 1;

}

#right-arrow-head{
    width: 11.503852844238281px;
height: 6.503767490386963px;
margin-top: 2.25px;
margin-left: 5.25px;
/*angle: 90 deg;*/
opacity: 1;
color: #00000099;

}

#Apply-filter-btn{
    width: 247px;
height: 48px;
border-radius: 62px;
padding-top: 16px;
padding-right: 54px;
padding-bottom: 16px;
padding-left: 54px;
gap: 12px;
/*angle: 0 deg;*/
opacity: 1;
background: #000000;

}


#Apply-filter-btn span{
    width: 72px;
height: 19px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 500;
font-style: Medium;
font-size: 14px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;



}

#filter-horizontal-line{
    width: 247.00000000000094px;
height: 0px;
border-width: 10px;
/*angle: 0 deg;*/
opacity: 1;
border: 1px solid #0000001A;
}


#line3{
    width: 1240.0000000000048px;
height: 0px;
/*angle: 0 deg;*/
opacity: 1;
top: 134px;
left: 100px;
border-width: 1px;
border: 1px solid #0000001A;
}


#line4{
    width: 1240.0000000000048px;
height: 0px;
/*angle: 0 deg;*/
opacity: 1;
margin-top: 34px;
left: 100px;
border-width: 1px;
border: 1px solid #0000001A;
}

























































#footer{
    width: 1440px;
    height: 589px;
    margin-top: 78px;
    left: -1px;
    /*angle: 0 deg;*/
    opacity: 1;
    border-width: 0px, 0px, 0px, 0px;
   /* border-style: solid;
 */


}
#subscibe-box{
    width: 1175px;
    height: 180px;
    /*top: 3781px;*/
    margin-left: 100px;
    justify-content: space-between;
    /*angle: 0 deg;*/
    opacity: 1;
    border-radius: 20px;

    padding-top: 18px;
    padding-right: 32px;
    padding-bottom: 18px;
    padding-left: 32px;
    background: #000000;
    color: #FFFFFF;
    display: flex;
    position: relative;
    z-index: 1;
   

}
#left{
    width: 551px;
height: 94px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Integral CF;
font-weight: 700;
font-style: Bold;
font-size: 40px;
/*leading-trim: NONE;*/
line-height: 45px;
letter-spacing: 0%;
color: #FFFFFF;
margin-left: 32px;
}
#right{
    width: 349px;
height: 108px;
/*angle: 0 deg;*/
opacity: 1;
gap: 14px;

display: flex;
flex-direction: column;
align-items: center;
margin: auto 32px;

}
#envelop{
    width: 24px;
height: 24px;
/*angle: 0 deg;*/
opacity: 1;

}

#envelop img{
    width: 20.25px;
height: 15.75px;
margin-top: 4.13px;
margin-left: 1.88px;
/*angle: 0 deg;*/
opacity: 1;
color: #00000066;


}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======

#search-item1{
   background: white;
    width: 100%;
   border: none;
}
#search-item1:focus{
  
   background: transparent;
  outline: none;
    border: none;
    box-shadow: none;
}
>>>>>>> fecba5f (add files)
>>>>>>> b76d3cf (add files)
#email input{
    border-style: none;
}
#email{
    width: 317px;
height: 24px;
/*angle: 0 deg;*/
opacity: 1;
border-radius: 62px;
padding-top: 12px;
padding-right: 16px;
padding-bottom: 12px;
padding-left: 16px;
gap: 12px;
background: #FFFFFF;
display: flex;

}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b76d3cf (add files)
#subscribe{
    width: 317px;
height: 22px;
/*angle: 0 deg;*/
opacity: 1;
<<<<<<< HEAD
=======
=======
/*
#subscribe{
    width: 317px;
height: 100%;
/*angle: 0 deg;*/
/*opacity: 1;
>>>>>>> fecba5f (add files)
>>>>>>> b76d3cf (add files)
border-radius: 62px;
padding-top: 12px;
padding-right: 16px;
padding-bottom: 12px;
padding-left: 16px;
gap: 12px;
background: #FFFFFF;
text-align: center;

}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b76d3cf (add files)
#subscribe span{
    width: 172px;
height: 22px;
/*angle: 0 deg;*/
opacity: 1;
<<<<<<< HEAD
=======
=======
*/

#subscribe-btn , #subscribe span{
    width: 349px;
height: 46px;
/*angle: 0 deg;*/
opacity: 1;
gap: 12px;
border-radius: 62px;
padding: auto;
background: white;
>>>>>>> fecba5f (add files)
>>>>>>> b76d3cf (add files)
font-family: Satoshi;
font-weight: 500;
font-style: Medium;
font-size: 16px;
/*leading-trim: NONE;*/
line-height: 100%;
letter-spacing: 0%;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> b76d3cf (add files)
color: #000000;


}
<<<<<<< HEAD
=======
=======
color: #00000066;

}
#subscribe-btn:active{
    
    font-size: larger;
   
   
}

>>>>>>> fecba5f (add files)
>>>>>>> b76d3cf (add files)
#rectangle{
    width: 1440px;
    height: 499px;
 /*   top: 3871px;*/
    margin-left: 0px;
    /*angle: 0 deg;*/
    opacity: 1;
    background: #F0F0F0;
   
    border-color: #0000001A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#00000099;
    padding-top: 50px;
    position: relative;
    bottom: 100px;
   
}
#faq{
    width: 1240px;
height: 177px;
top: 4011px;
left: 100px;
/*angle: 0 deg;*/
opacity: 1;

display: flex;
justify-content: space-between;
align-items: flex-start;
}
#one{
    width: 248px;
height: 177px;
/*angle: 0 deg;*/
opacity: 1;
gap: 35px;

display: flex;
flex-direction: column;
position: relative;
bottom: 10px;


}
#heading{
    width: 167px;
height: 23px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Integral CF;
font-weight: 700;
font-style: Bold;
font-size: 33.45px;
/*leading-trim: CAP_HEIGHT;*/
line-height: 100%;
letter-spacing: 0%;
vertical-align: middle;
color: #000000;



}
#heading p{
    margin: 0px;
   
}
#one-para p{
    width: 248px;
height: 66px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 14px;
/*leading-trim: NONE;*/
line-height: 22px;
letter-spacing: 0px;
color: #00000099;
margin: 0px;



}

#social{
    width: 148px;
height: 28px;
/*angle: 0 deg;*/
opacity: 1;
border-width: 1px;

display: flex;
justify-content: center;
gap: 10px;
position: relative;
bottom: 2px;

}
#twitter , #instagram , #github{
    width: 50%;
height: 28px;
/*angle: 0 deg;*/
opacity: 1;
/*top: 149px;*/
border-width: 1px;
border: 1px solid #00000033;
border-radius: 100%;
background-color: white;
display: flex;
align-items: center;
justify-content: space-evenly;


}
#facebook{
    background-color: #000000;
    width: 50%;
    height: 28px;
    /*angle: 0 deg;*/
    opacity: 1;
/*    top: 149px;*/
    border-width: 1px;
   /*border: 1px solid #000000;*/
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

#two{
    width: 104px;
height: 177px;
/*angle: 0 deg;*/
opacity: 1;
gap: 26px;


}
#three{
    width: 136;
height: 177;
/*angle: 0 deg;*/
opacity: 1;
gap: 26px;


}
#four{
    width: 149px;
height: 177px;
/*angle: 0 deg;*/
opacity: 1;
gap: 26px;

}
#five{
    width: 156px;
height: 177px;
/*angle: 0 deg;*/
opacity: 1;
gap: 26px;

display: block;
gap: 26px;

}

#two span, #three span ,#four span,#five span{
    width: 98px;
height: 18px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 500;
font-style: Medium;
font-size: 16px;
/*leading-trim: NONE;*/
line-height: 18px;
letter-spacing: 3px;
text-transform: uppercase;
color: #000000;


}
#content{
    width: 100%;
height: 133px;
/*angle: 0 deg;*/
opacity: 1;
font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 16px;
/*leading-trim: NONE;*/
line-height: 19px;
letter-spacing: 0px;
color: #00000099;
margin-top: 26px;

}
#content a{
    display: block;
    margin: auto 0px;
}



#payment-logo-div {
    width: 1240px;
height: 31px;
/*top: 4011px;
left: 100px;
/*angle: 0 deg;*/
opacity: 1;

display: flex;
justify-content: space-between;
align-items: center;

}


#payment-icons {
  width: 281.0714111328125px;
height: 30.030357360839844px;
/*angle: 0 deg;*/
opacity: 1;
/*top: 4258px;*/
/*left: 1059px;*/
gap: 12px;
display: flex;

}

#payment{
    width: 46.61428451538086px;
    height: 30.030357360839844px;
    /*angle: 0 deg;*/
    opacity: 1;
    border-radius: 5.38px;
    border-width: 0.22px;
    background: #FFFFFF;
    border: 0.22px solid #D6DCE5;
    box-shadow: 0px 0.45px 4.48px 0px #B7B7B714;
    /* dropdown-shadow
    box-shadow: 0px 4.48px 8.96px 0px #B7B7B714;
    
    */
    display: flex;
    justify-content: center;
    align-items: center;

}
#payment img{
    width: 46.61428451538086px;
height: 30.030357360839844px;
/*angle: 0 deg;*/
opacity: 1;
border-radius: 5.38px;
border-width: 0.22px;
background: #FFFFFF;


}
#payment-logo-div p {
    margin: 0px;
}